body{
    margin:0;
}

#selectorWrapper {
    display: flex;
    justify-content: center;
}
#degreeDatalist {
    display: flex;
    justify-content: center;
    margin-right: 50px;
}

#classDatalist{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
.row{
    display: flex;
    min-height: 10px;
    border: 1px solid black;
    height: fit-content;
}


#title_bar {
    background-color: purple;
    color: gold;
    font-weight: bold;
    font-size: 2em;
    padding: 0.25em;
}
#semesters_table {
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid black;
}



