body{
    margin:0;
    font-family: sans-serif;
}

#selectorWrapper {
    display: flex;
    justify-content: center;
    background-color: lightgoldenrodyellow;
}

.selectorLabel{
    font-size: 20px;
    padding: 10px;
}

#degreeDatalist, #classDatalist {
    display: flex;
    justify-content: center;
    margin-right: 50px;
    padding: 10px;
}

h4{
    height: 3em;
}

.row{
    display: flex;
    min-height: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 90vh;
    flex-direction: column;
    overflow: auto;
}


#title_bar {
    background-color: purple;
    color: gold;
    font-weight: bold;
    font-size: 2em;
    padding: 0.25em;
}
#semesters_table {
    background-color: lightgoldenrodyellow;
    display: flex;
    height: 90vh;

}
.semesterTop{
    height: 10em;
}
.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    
}


.box{
    background-color: rgb(231, 210, 250);
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height:20%;
    margin-bottom: 1em;
    border-radius: 1em;
    border: 1px solid #610e81;
    font-size: .8em;
    overflow: auto;
}

.boxInnerWrap{
    display:flex;
    height: 25%;
    align-items: center;
}

.courseCodeDiv{
    flex-grow: 2;
    left: 6%;
    position: relative;
    
}

.checkBoxButtonDiv{
    display: flex;
}

.classCheckBox{

}

.nameDiv{
    height: 25%;

}

.creditDiv{
    height: 25%;
}

.moreInfoDiv{
    height: 25%;
}
