body{
    margin:0;
    font-family: sans-serif;
    overflow: hidden;
    background-color: lightgoldenrodyellow;
}

#title_bar {
    background-color: purple;
    color: gold;
    font-weight: bold;
    font-size: 2em;
    padding: 0.25em;
}

#selectorWrapper {
    display: flex;
    justify-content: center;
    overflow-x: auto;
}

.selectorLabel{
    font-size: 1.25em;
    padding: 0.625em;
}

#degreeDatalist, #classDatalist {
    display: flex;
    justify-content: center;
    margin-right: 3em;
    padding: 0.625em;
}

#semesters_table {
    display: flex;
    overflow-x: scroll;
}

.column {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-top: 2px solid black;
    text-align: center;
    max-width: 12em;
    min-width: 12em;
    max-height: calc(100vh - 10em);
}

.row{
    display: flex;
    min-height: calc(100vh - 16em);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    flex-direction: column;
    overflow-y: scroll;
}

/*Below are all of the style changes for the .box class 
    and its inner-divs that are created using JavaScript
*/

.box{
    background-color: rgb(231, 210, 250);
    width: 90%;
    margin: 4.5%;
    border-radius: 1em;
    border: 1px solid #610e81;
    font-size: 70%;
}

.boxCheck{ /*changed from .boxLeftWrap*/
    display:flex;
    flex-direction: column;
    flex-grow: 3;
}

.courseCodeDiv{
    height: 25%;
}

.nameDiv{
    min-height: 40%;
    text-align: center;
    height:fit-content;
}

.creditDiv{
    height: 25%;
}

.moreInfoDiv{
    height: 25%;
}

.boxText{ /*Changed from .boxRightWrap*/
    /*Needs to be right of .boxCheck*/
    display: flex;
    flex-direction: column;
}

.checkBoxButtonDiv{
    display: flex;
}
